
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
  <div class="container">
    <a class="navbar-brand" href="#">UBS Geraldo de Paula</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <a href="#" class="btn btn-light ms-3">Entrar</a>
    </div>
  </div>
</nav>
<div class="container">
<a href="./lista " class = "btn btn-outline-info">Ver lista</a>
<a href= "./cadastro" class = "btn btn-outline-success">Cadastro Novo</a>
<a href= "./upload" class = "btn btn-outline-danger">Carregar Ficha</a>


<router-outlet/> 



</div>
