<p>Cadastro de Paciente</p>
 
<div class="container">
  <h4>Informações Pessoais</h4>
  <hr>
  <div class="row">
    <div class="form-floating col-md-6">
      <input id="nome" class="form-control" type="text" required />
      <label for="nome">Nome completo:</label>
      <small *ngIf="!nomeCompleto" class="text-danger">Campo Obrigatório</small>
    </div>
 
    <!-- Nome social -->
    <div class="form-floating col-md-6">
      <input id="nomeSocial" class="form-control" type="text"  />
      <label for="nomeSocial">Nome social:</label>
    </div>
  </div>
 
  <div class="row mt-3">
    <!-- Nome da mãe -->
    <div class="form-floating col-md-6">
      <input id="nomeMae" class="form-control" type="text"  />
      <label for="nomeMae">Nome da Mãe:</label>
    </div>
 
    <!-- Nome do pai -->
    <div class="form-floating col-md-6">
      <input id="nomePai" class="form-control" type="text" />
      <label for="nomePai">Nome do Pai:</label>
    </div>
  </div>
 

  <h4>Dados de Nascimento</h4>
  <hr>
  <div class="row mt-3">
    <div class="form-floating col-md-6">
      <input id="dataNascimento" class="form-control" type="date"  required />
      <label for="dataNascimento">Data de nascimento:</label>
      <small *ngIf="!dataNascimento" class="text-danger">Campo Obrigatório</small>
    </div>
 
    <!-- Sexo -->
    <div class="form-floating col-md-6">
      <select id="sexo" class="form-control" required>
        <!--<option value="" disabled selected>Selecione</option-->
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Outro">Outro</option>
      </select>
      <label for="sexo">Sexo:</label>
      <small *ngIf="!sexo" class="text-danger">Campo Obrigatório</small>
    </div>
  </div>
 

  <h4>Localidade</h4>
  <hr>
  <div class="row mt-3">
    <div class="form-floating col-md-6">
      <input id="nacionalidade" class="form-control" type="text" required />
      <label for="nacionalidade">Nacionalidade:</label>
      <small *ngIf="!nacionalidade" class="text-danger">Campo Obrigatório</small>
    </div>
 
    <!-- Município de nascimento -->
    <div class="form-floating col-md-6">
      <input id="municipioNascimento" class="form-control" type="text" required />
      <label for="municipioNascimento">Município do nascimento:</label>
      <small *ngIf="!municipioNascimento" class="text-danger">Campo Obrigatório</small>
    </div>
  </div>
 
  <!--  Outros Dados -->
  <h4>Outros Dados</h4>
  <hr>
  <div class="row mt-3">
    <!-- Raça/Cor -->
    <div class="form-floating col-md-6">
      <select id="racaCor" class="form-control"  required>
        <!--option value="" disabled selected>Selecione...</option-->
        <option value="Branca">Branca</option>
        <option value="Preta">Preta</option>
        <option value="Parda">Parda</option>
        <option value="Amarela">Amarela</option>
        <option value="Indígena">Indígena</option>
      </select>
      <label for="racaCor">Raça/Cor:</label>
      <small *ngIf="!racaCor" class="text-danger">Campo Obrigatório</small>
    </div>
 
    <!-- Frequenta escola -->
    <div class="form-floating col-md-6">
      <select id="frequentaEscola" class="form-control" >
        <!--option value="" disabled selected>Selecione...</option-->
        <option value="Sim">Sim</option>
        <option value="Não">Não</option>
      </select>
      <label for="frequentaEscola">Frequenta escola:</label>
    </div>
  </div>
 
  <!-- Dados de Contato -->
  <h4>Dados de Contato</h4>
  <hr>
  <div class="row mt-3">
    <!-- Celular -->
    <div class="form-floating col-md-4">
      <input id="celular" class="form-control" type="tel"  required />
      <label for="celular">Celular:</label>
      <small *ngIf="!contatoCelular" class="text-danger">Campo Obrigatório</small>
    </div>
 
    <!-- Residencial -->
    <div class="form-floating col-md-4">
      <input id="residencial" class="form-control" type="tel" />
      <label for="residencial">Telefone Residencial:</label>
    </div>
 
    <!-- Email -->
    <div class="form-floating col-md-4">
      <input id="email" class="form-control" type="email" required />
      <label for="email">Email:</label>
      <small *ngIf="!contatoEmail" class="text-danger">Campo Obrigatório</small>
    </div>
  </div>
</div>
